.add-entry-column {
  width: 100%;
  background-color: #543864;
  border-radius: 2px;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 4px;
  padding: 16px;
  min-height: 40vh;
  max-width: 450px;
}

.num-entries-display {
  width: 100%;
  margin-top: 7vh;
  margin-bottom: 7vh;
}