.stack-outer {
    width: 100%;
    height:150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 5vh;
}

.card-stack {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.card {
    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;
    width: 190px;
    height: 120px;
    color: black;
}

.timer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    margin-top: 16px;
    margin-bottom: 16px;
}