.score-display {
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.scores-container {
    height: 20vh;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hotpink;
  }