.landing-card {
    display: flex;
    min-height: 33vh;
    max-height: 286px;
    max-width: 450px;
    margin: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-center {
    grid-column-start: 2;
}

.grid-right {
    grid-column-start: 3;
}

.dimmer-text {
    text-align: left;
    color: "#EEEEEE";
}

.dimmer-wrapper {
    overflow: auto;
}

@media (max-width: 479px) {
    .dimmer-text {
        text-align: left;
        color: "#EEEEEE";
        font-size: small;
    }
}

.landing-footer {
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 16px;
}