body {
  font-family: 'Roboto';
  background: #222831;
  color: #EEEEEE;
}

a {
  color: #EEEEEE;
}


* {
  font-family: 'Roboto';
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  align-items: center;
  width: 100vw;
}

.page-header {
  width: 100%;
  max-width: 450px;
  margin: 16px;
  max-height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
}

.page-main {
  flex-grow: 1;
  width: 100%;
  max-width: 450px;
  padding: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.page-footer {
  text-align: center;
  margin-bottom: 16px;
  justify-content: center;
  width: 100%;
  padding: 16px;
}





